@use '../variaveis'
@use '../mixins'

.projects-container
    margin-bottom: 1rem

    .projects-grid
        background: variaveis.$bg-color
        gap: 1.2rem
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr

        .projects-card
            @include mixins.center
            background: variaveis.$bg-color
            padding: 1.5rem
            width: 100%
            border-radius: variaveis.$card-border-radius
            border: 1px solid #333
            flex-direction: column
            grid-column: 1 / 4


            h4
                color: variaveis.$text-color
                margin-bottom: 1rem
                
            .imagem
                @include mixins.center
               
                img
                    width: 100%
                    height: 80%
                    border-radius: variaveis.$card-border-radius
                     
            .description
                @include mixins.center
                margin-top: 1rem
                width: 90%

                p
                    text-align: justify
                    font-size: .8rem
                    font-family: variaveis.$font-stack

            .button
                @include mixins.center
                text-align: center
                
                .btn
                    background-color: black
                    

            
            
                 

                
                

        
        
