@use '../variaveis'
@use '../mixins'

#sidebar
    background-color: variaveis.$bg-color
    flex: 1 1 0
    position: fixed
    display: flex 
    align-items: center
    flex-direction: column
    text-align: center
    // position: relative
    padding: 1rem 
    height: 100vh
    width: 20rem

    img
        width: 14rem
        border-radius: variaveis.$container-border-radius


    .title
        color: variaveis.$text-color-secondary
        background-color: variaveis.$bg-color-secondary
        border-radius: variaveis.$card-border-radius
        margin-top: 1.9rem
        padding: .8rem 1.2rem


