@use 'variaveis.sass'


@mixin center
    display: flex
    justify-content: center
    align-items: center

@mixin btn
    padding: 1rem 1.2rem
    color: variaveis.$text-color
    background: variaveis.$bg-gradient-btn
    text-decoration: none
    font-weight: bold
    border-radius: 3rem

@mixin gradient-border
    content: ""
    background: variaveis.$bg-gradient
    height: 4px 
    width: 80%