$font-stack: "Helvetica"
$text-color: white
$text-color-secondary:#acacac
$body-bg-color: #17001f
$bg-color: #111
$bg-color-secondary: #1d1d1d
$bg-gradient:  linear-gradient(180deg, rgba(4,4,4,1) 0%, rgba(41,20,133,1) 69%, rgba(3,3,46,1) 100%)
$bg-gradient-lighter: linear-gradient(#e66465, #b42d80)
$container-border-radius: 10px
$card-border-radius: 5px